.container {
    padding: 40px;
}

.close {
    text-align: center;
    a {
        font-size: 14px;
        font-weight: 500;
        color: #757575;
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
        color: #000;
    }
}