@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');
html {
    height: 100%;
}

body {
    background: rgb(228, 230, 236);
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

div.app-container {
    //position: relative;
    width: 100%;
    height: 100%;
    padding-top: 55px;
}

img.logo-icon {
    width: 25px;
    margin: -5px 15px 0 0;
}

.box {
    margin: 20px 0;
    @media only screen and (width: 800px) {
        margin: 10px 0;

    }
}

.col-title {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.control {
    text-align: right;

    button {
        margin-left: 10px;
    }
}

div.separator-tb-20 {
    margin: 20px 0;
}

div.separator-b-20 {
    margin: 0 0 20px 0;
}

div.separator-t-20 {
    margin: 20px 0 0 0;
}

div.container-modal {
    padding: 20px 0;
}

.navbar-dark .navbar-text  {
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link   {
    color: rgba(255,255,255, 0.75);
}

form.container-form {
    padding: 20px;
}

.navbar-brand .icon {
    margin-right: 10px;
}

div.module {
    margin: 20px;
}