div.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/axiom-pattern.png');
    z-index: 101;

    div.login-container {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -180px;
        margin-top: -180px;
        background: #ffffff;
        padding: 40px;

        img {
            width: 150px;
            margin: 0 auto;
            display: block;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 25px;
            text-align: center;
        }

        input {
            margin-bottom: 20px;
        }

        div.forgot-password {
            margin-top: 30px;
            text-align: center;
            a {
                color: #757575;
                cursor: pointer;
            }
            a:hover {
                text-decoration: none;
                color: #000;
            }
        }
    }
}